body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomOut 30s infinite;
  z-index: -1;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-align: center;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

main {
  padding: 2em;
  background-color: #000;
}

.intro-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.intro-section .text-content {
  flex: 1;
  padding: 1em;
}

.intro-section .text-content h2 {
  color: #f4f4f4;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.intro-section .text-content p {
  color: #f4f4f4;
  font-size: 1.2em;
  line-height: 1.5;
}

.intro-section .image-content {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.intro-section .image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.accommodation-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.accommodation-options .card {
  background-color: rgb(0, 0, 0);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1em;
  flex: 1;
  max-width: calc(33% - 1em);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.accommodation-options .card img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

.accommodation-options .card h3 {
  color: #f4f4f4;
  font-size: 1.5em;
  margin: 1em 0;
}

.accommodation-options .card p {
  color: #f4f4f4;
  font-size: 1.1em;
}

/*segura aqui !!! */
.carousel-container {
  display: flex;
  width: 50%;
}
.carousel-slide .slide-image img {
  width: 50%; /* Ajuste a largura conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
}

#obras .fobras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.text-container {
  width: 45%;
}

#obras h1 {
  color: #f4f4f4;
  font-size: 24px;
  margin-bottom: 10px;
}

#obras p {
  color: #f4f4f4;
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-btn2-container {
  text-align: left;
}

.cta-btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-btn2:hover {
  background-color: #0056b3;
}

/*segura aqui !!! */

.family-suite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.family-suite .text-content {
  flex: 1;
  padding: 1em;
}

.family-suite .text-content h2 {
  color: #f4f4f4;
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: "Georgia", serif;
}

.family-suite .text-content p {
  color: #f4f4f4;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: "Georgia", serif;
}

.family-suite .video-content {
  flex: 1;
  padding: 1em;
  text-align: center;
}

.family-suite .background-video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

.family-suite .video-content p {
  font-size: 1em;
  color: #ffffff;
  font-family: "Georgia", serif;
}

.carro-sell-track-container {
  overflow: hidden;
  width: 100vw;
  height: 70vh; /* Ajusta a altura conforme necessário */
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.carro-sel-track {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(
    100vw * 3
  ); /* Ajuste a largura para acomodar 3 slides parcialmente */
}

.carro-sel-slide {
  flex: 0 0 calc(40vw - 10px); /* Cada slide ocupará cerca de 40% da largura da janela de visualização */
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px; /* Ajusta a margem para criar o espaço entre slides */
}

.carro-sel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.fim-aplicação {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

.carro-sell {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70%;
}

#aplicação h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

#aplicação p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.prev-btn,
.next-btn11 {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
}

.cta-btn2 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: rgb(7, 7, 7);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-btn11-container {
  width: 100%;
  text-align: center;
  margin-top: 5px; /* Ajusta a distância superior */
}

.press-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.press-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

.press-content {
  position: relative;
  z-index: 1;
}

.press-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Times New Roman", serif;
}

.press-text-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.press-text {
  width: 30%;
  margin-bottom: 20px;
}

.press-source {
  font-style: italic;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: #000000;
  border-top: 5px solid #fffdfd; /* Adiciona uma borda superior */
  border-bottom: 5px solid #fffdfd; /* Adiciona uma borda inferior */
}

.info-box {
  flex: 1;
  margin: 0 20px;
  padding: 20px;
  background-color: #000000; /* Fundo branco para as caixas de informação */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  text-align: center;
  border-radius: 10px; /* Adiciona bordas arredondadas */
}

.info-box h3 {
  margin-bottom: 15px;
  font-size: 1.8em;
  color: #f1f1f1; /* Cor do título */
}

.info-box p {
  margin-bottom: 10px;
  font-size: 1em;
  color: #ffffff; /* Cor do texto */
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s; /* Adiciona uma transição suave ao passar o mouse */
}

.social-icons img:hover {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}
